.wy-nav-top {
    background-color: #b53c86;
}

.wy-side-nav-search {
    background-color: #b53c86;
    color: #FFFFFF;
}

.ul.wu-breadcrumbs::before {
    color: #b53c86;
}

.wy-side-nav-search.icon-home::before {
    color: #FFFFFF;
}

.wy-side-nav-search :text {
    background-color: #FFFFFF;
}

.wy-menu-vertical .toctree-l1.current{
    background-color: #FFFFFF;
    color: #b53c86;
}

.wy-menu-vertical .toctree-l2{
    background-color: #FFFFFF;
    color: #b53c86;
}
/* .wy-side-nav-search input[type=text] {
    border-color: #b53c86;
} */

.wy-nav-side {
    background: #b53c86;
    color: white;
}

.wy-menu-vertical a {
    color: inherit;
}

/* .wy-menu-vertical a:hover {
    background-color: #b53c86;
} */

.rst-versions {
    border-top: solid 10px #b53c86;
}